#church {
  background-color: #fff7f3;

  div {
    width: 200px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: 
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 118px 146px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 118px 164px / 18px 20px,
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 91px 146px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 91px 164px / 18px 20px,
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 64px 146px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 64px 164px / 18px 20px,
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 164px 212px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 164px 230px / 18px 26px,
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 18px 212px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 18px 230px / 18px 26px,
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 118px 306px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 118px bottom / 18px 26px,
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 91px 306px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 91px bottom / 18px 26px,
    conic-gradient(from 135deg at 50% 50%, #423b4d 0 90deg, transparent 0 100%) 64px 306px / 18px 18px,
    linear-gradient(#423b4d, #423b4d) 64px bottom / 18px 26px,
    linear-gradient(#a74c46, #a74c46) 40px 138px / 120px 8px,
    radial-gradient(#423b4d 9px, transparent 10px) 90px 233px / 20px 20px,
    linear-gradient(#423b4d, #423b4d) 163px bottom / 20px 40px,
    linear-gradient(#423b4d, #423b4d) 17px bottom / 20px 40px,
    linear-gradient(#c3bec4, #c3bec4) 154px 284px / 38px 6px,
    linear-gradient(#c3bec4, #c3bec4) 8px 284px / 38px 6px,
    conic-gradient(from 160deg at 50% 0%, #d76d55 0 40deg, transparent 0 100%) 150px 130px / 46px 60px,
    conic-gradient(from 160deg at 50% 0%, #d76d55 0 40deg, transparent 0 100%) 4px 130px / 46px 60px,
    linear-gradient(#a74c46, #a74c46) 146px 190px / 54px 8px,
    linear-gradient(#a74c46, #a74c46) 0 190px / 54px 8px,
    linear-gradient(#f0eef3, #f0eef3) 150px bottom / 46px 154px,
    linear-gradient(#f0eef3, #f0eef3) 4px bottom / 46px 154px,
    linear-gradient(#c3bec4, #c3bec4) 45px 190px / 110px 8px,
    linear-gradient(to bottom, #c3bec4 28px, #89828a 28px) 45px 260px / 110px 36px,
    conic-gradient(from 128deg at 50% 0, #f0eef3 0 105deg, transparent 0 100%) 30px 220px / 140px 56px,
    conic-gradient(from 128deg at 50% 0, #d76d55 0 105deg, transparent 0 100%) 30px 204px / 140px 56px,
    linear-gradient(to bottom, #dbd5dc 38px, transparent 38px 46px, #dbd5dc 46px 114px, #c3bec4 114px) 45px bottom / 12px 204px,
    linear-gradient(to bottom, #dbd5dc 38px, transparent 38px 46px, #dbd5dc 46px 114px, #c3bec4 114px) 142px bottom / 12px 204px,
    linear-gradient(#f0eef3, #f0eef3) 45px bottom / 110px 204px,
    conic-gradient(from 160deg at 50% 0%, #d76d55 0 40deg, transparent 0 100%) 82px 0 / 36px 50px,
    linear-gradient(#a54c46, #a54c46) 77px 50px / 46px 8px,
    linear-gradient(#a54c46, #a54c46) 77px 88px / 46px 8px,
    linear-gradient(#f0eef3, #f0eef3) 80px 56px / 40px 40px,
    radial-gradient(#d76d55 54px, transparent 55px) 45px 90px / 110px 110px;
    background-repeat: no-repeat;
  }

  div::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 20px;
    border-radius: 6px 6px 0 0;
    background-color: #f0eef3;
    left: 58px;
    top: 268px;
    box-shadow: 
    18px 0 0 #f0eef3,
    36px 0 0 #f0eef3,
    54px 0 0 #f0eef3,
    72px 0 0 #f0eef3,
    36px -203px 0 3px #423b4d;
  }

  div::after {
    content: "";
    position: absolute;
    width: 362px;
    height: 90px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: 
    radial-gradient(#97984d 34px, transparent 35px) 290px 0 / 70px 70px,
    radial-gradient(#97984d 19px, transparent 20px) 34px 37px / 40px 40px,
    radial-gradient(#676a4d 29px, transparent 30px) 0 10px / 60px 60px,
    linear-gradient(#6e3e32, #6e3e32) 322px bottom / 4px 25px,
    linear-gradient(#6e3e32, #6e3e32) 52px bottom / 4px 20px,
    linear-gradient(#6e3e32, #6e3e32) 29px bottom / 4px 28px;
    background-repeat: no-repeat;
  }
}
