#frog {
  --orange: #fe5F55;
  --dark-orange: #a64942;
  --blue: #293462;
  --blond: #fef0c0;

  background-color: #ffe3e9;

  div,
  div::before,
  div::after {
    position: absolute;
  }

  div {
    width: 170px;
    height: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div::before {
    content: "";
    display: block;
    width: 170px;
    height: 110px;
    border-radius: 60px;
    background-image: radial-gradient(var(--orange) 224px, transparent 225px);
    background-position: center calc(100% - 34px);
    background-size: 450px 450px;
    background-repeat: no-repeat;
    background-color: var(--dark-orange);
    bottom: 0;
  }

  div::after {
    content: "";
    display: block;
    width: 170px;
    height: 140px;
    z-index: 2;
    background:
    radial-gradient(var(--blue) 5px, transparent 6px) 68px 84px / 12px 12px,
    radial-gradient(var(--blue) 5px, transparent 6px) 90px 84px / 12px 12px,
    radial-gradient(var(--blue) 6px, var(--blond) 7px 15px, var(--orange) 16px 27px, transparent 28px) 18px top / 56px 56px,
    radial-gradient(var(--blue) 6px, var(--blond) 7px 15px, var(--orange) 16px 27px, transparent 28px) 96px top / 56px 56px;
    background-repeat: no-repeat;
  }
}
