@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'VT323', monospace;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 450px;
  position: relative
}

.header {
  color: #fafafa;
  background-color: #323133;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.25rem;
}

.header-link {
  color: #fafafa;
  line-height: 1;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  .entry {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .entry--full {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 500px;
  }
}
